
* {
  font-family:Arial, Helvetica, sans-serif ;
}
 /* Upper Section Styling Started */
.upper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  
}

.wrapper {
  width: 350px;
}

.sign-up-section {
  border: 1px solid rgb(217, 217, 217);
  width: 308px;
  padding: 20px;
  margin-top: -17px;
}


.input-container .or-section{
   margin-top: 10px;
   border-bottom: 1px solid rgb(207, 207, 207);
   height: 9px;
   }

.input-container .or-section .or{
  display: inline-block;
  background: #fff;
  padding: 0 10px;
  font-weight: lighter;
  color: rgb(180, 180, 180);
  font-size: 13px;
}

.upper-section .wrapper .logo-section .form-section {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  height: 400px;
  width: 400px;
}

 .store-section .googlePlay-logo {
  width: 134.28px;
  cursor: pointer;

}

 .store-section .microsoft-logo {
  width: 110.76px;
  cursor: pointer;
}

.wrapper .logo-section .form-section .input-container hr {
  width: 100%;
  height: 1px;
  background-color: rgb(217, 217, 217);
  margin: 30px 0 20px;
  border: none;
}

.input-container h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.form-section .input-container a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(67, 67, 247);
}

.wrapper .logo-section .form-section .input-container {
  border: 1px solid rgb(217, 217, 217);
  height: 350px;
  width: 330px;
  padding: 9px;
  align-items: center;
  justify-content: center;
}

.wrapper .logo-section .input-container .input-field {
  width: 80%;
  height: 30px;
  border: 1px solid rgb(166, 166, 166);
  background-color: rgb(248, 247, 247);
  border-radius: 3px;
}

.wrapper .logo-section .input-container button {
  width: 82%;
  height: 30px;
  border-radius: 7px;
  border: 1px solid rgb(166, 166, 166);
  background-color: rgb(102, 102, 251);
  color: white;
  cursor: pointer;
  margin-top: 11px;
}
/* Upper Section Styling Ended */
/* Footer Styling Started */
/* .footer-section{
  width:100%;
}

.footer-section .footer-links-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  
}

.footer-section .footer-links-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-section .footer-links-section li {
  text-decoration: none;
  margin: 0 10px;
}

.footer-section .footer-links-section a {
  text-decoration: none;
  color: rgb(177, 177, 177);
  font-size: 11px;
}

.footer-section .footer-links-section a:hover {
  text-decoration: underline;
  color: rgb(176, 176, 176);
}

.footer-copyright-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 11px;
}




.footer-copyright-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-copyright-section li {
  text-decoration: none;
}

.footer-copyright-section a {
  text-decoration: none;
  color: rgb(177, 177, 177);
  font-size: 10px;
  cursor: pointer;
} */
/* Footer Styling Ended */

@media (max-width: 550px){
  .wrapper .logo-section .form-section .input-container{
    border: none;
  }
  .sign-up-section{
    border: none;
  }
  .footer-section .footer-links-section{
  flex-wrap: wrap;

  }
}


.footer-section {
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  text-align: center;
}

.footer-section .footer-links-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.footer-section .footer-links-section .footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-section .footer-links-section  .footer-links li a {
  color: #737373;
  text-decoration: none;
  font-size: 12px;
}

.footer-section .footer-links-section .footer-links li a:hover {
  text-decoration: underline;
}

.footer-section .footer-links-section .footer-links .footer-copyright-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 10px;
  color: #737373;
  text-decoration: none;
  
}

.footer-copyright-section a {
  color: #737373;
  text-decoration: none;
  font-size:11px ;
}



@media (max-width: 550px) {
  .footer-links {
    gap: 10px;
  }

  .footer-links li a {
    font-size: 11px;
  }

  .footer-copyright-section {
    flex-direction: column;
    gap: 5px;
  }
}
